* {
    margin: 0;
    padding: 0;
}

.conteiner-principal {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #B0E1F1;
    justify-content: center;

}

.conteiner-menu {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction:column;
    background-color: #2F87B5;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

button {
    min-width: 5vw;
    min-height: 5vh;
    border-radius: 30%;
    border-color: #85B0C6;
    background-color: #85B0C6;
}

.conteiner-game {
    width: 80vw;
    height: 80vh;
    display: none;
    align-self: center;


}

table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

td {
    background-color:  #2F87B5;
    width: 25%;
    height: 25%;
}

img{
    width: 4.5vw;
    filter: invert(100%);
}